.col-centered {
    float: none;
    margin: 0 auto;
}

.entryButton {
    margin-top: 20px;
}

.gameCanvas {
    background-color: #ffffff;
    border: 2px solid #696969;
    border-radius: 5px;
}

.playerBanner {
    background-color: #dcdcdc;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin: 5px 0px 5px 0px;
}
